<!DOCTYPE HTML>
<html>
<head>
  <title>is it friday?</title>
  <style>
  img {
    display:block;
    margin: auto;
    width: 350px;
  }
  .answer {
    text-align: center;
  }

  </style>
</head>
<body>
  <br><br><br>
<%= yield %>
</body>
</html>
